# No ocultamos el HTML, pero lo marcamos como documentación 
# para que GitHub le reste importancia en el cálculo de porcentaje
*.html linguist-documentation=true
*.css linguist-documentation=true
*.js linguist-documentation=true

# Forzamos a que Java siempre sea detectado como código principal
*.java linguist-detectable=true