*.java linguist-detectable=true
src/main/resources/templates/**/*.html linguist-language=Java

src/main/webapp/**/*.html linguist-detectable=true
*.html linguist-detectable=true

*.css linguist-detectable=false
*.js linguist-detectable=false
